:root{
    --color-primary: rgb(252, 177, 177);
}

@font-face {
    font-family: "Fontspring-DEMO-proximanova-regular";
    src: url(../storage/font/Proxima-Nova-Extra-Condensed/Demo_Fonts/Fontspring-DEMO-proximanova-regular.otf);
}