:root{
    --color-primary: rgb(252, 177, 177);
}

@font-face {
    font-family: "AvenirHeavy";
    src: url(../storage/font/AvenirHeavy/AvenirHeavy.ttf);
}

@font-face {
    font-family: "AvenirLight";
    src: url(../storage/font/AvenirLight/AvenirLight.ttf);
}